#carrusel {
  grid-column: 2 / 12;
  grid-row: 4 / 5; /* El carrusel ocupa las filas 4 y 5 */
  min-height: 20rem;  
  
}


#central {    
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 5 / 8;
  align-items: center;
  justify-items: center;
  max-width: 70%;
  margin-bottom: 5rem;
  
}

.imagen-central {
  width: 32rem;
  height: auto;
}


/*Contiene 3 elementos, la imagen, el nombre, y el precio */
#comun {
  width: 40rem;
  height: 50rem;
  background-color: white;
  display: grid;
  grid-template-rows: minmax(100px, 4fr) 2fr 3fr 1fr;
  border-radius: 20px;
  padding: 2rem;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  border-radius: 2rem;
  background-image: url(../images/navidadeslogan.webp);
}

#divImagen-Categoria,
img {
    border-radius: 2rem;
    padding: 1rem;    
    height: auto;  
    object-fit: cover;
}

.titulo {
  text-align: center;
  color: var(--blanco);
}


#carrusel-Nombre {
  font-family: var(--fuenteParrafos);
  font-size: var(--tamanoTitulo);
  color: var(--blanco);
}


/* Botones anterior, posterior */
#boton-anterior,
#boton-siguiente {
  width: 8rem;
  height: 8rem;  
  cursor: pointer;
  object-fit: cover;
}

#boton-anterior {
  transform: rotate(-90deg);
}

#boton-siguiente {
  transform: rotate(90deg);
}


