.footer {
    background-color: var(--negro);    
    margin-top: 4rem;
    
    grid-column: 1 / 13;   /* El footer ocupa todas las columnas */
    grid-row: 6 / 7;  /* El footer ocupa de las lineas 6 a 7 */

    display: grid;  
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: auto auto;  
    gap: 1rem;  

    justify-items: center; 
    align-items: center; 
}


.documentos a {
    color: var(--blanco);
    text-decoration: none;
}

.documentos {   
    grid-column: 1 / 2;  
    margin-top: 5rem;
    
}

.metodos-pago {

    grid-column: 3 / 4;  
    background-color: var(--blanco);
    align-items: center;
    display: flex;
    flex-direction: column;
    filter: invert(1);
}

.logos-pagos{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin: 0 1rem
    
}
.redes-sociales {
    grid-column: 3 / 4;  
}

.social-icon {
    margin: 0 1rem;  
    font-size: 2rem;  
    color: var(--blanco);
    padding-bottom: 1.5rem;
}

.social-icon:hover {
    color: #00aced;  
}

p {
    color: var(--negro);
}

svg {
    width: 4rem;
    height: 4rem;
}