header {
    grid-column: 1 / 13;  /* El header ocupa todas las columnas */
    grid-row: 1 / 2;  /* El header ocupa de las lineas 1 a 2 */
    background-image: url(../images/imagenheader5.png);    
    background-repeat: no-repeat;
    background-position: center center;
    
}

.contenedor {
    width: min(75%, 120rem);
    margin: 0 auto;
}


#carrito {
    color: var(--blanco);
    font-size: 2.5rem;
    
}

.barra{
    padding-top: 4rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.logo{
    color: var(--blanco);
}

.logo__nombre{
   font-weight: 400;
}

.logo__bold{
    font-weight: 700;
}

.navegacion {
    display: flex;
    gap: 3rem;
    font-size: 1.8rem;
}

.navegacion__enlace{
    display: block;
    line-height: 1.8;
    text-align: center;
    color: var(--blanco);
}

.cargando {
    background-image: url(../images/cargando.gif);
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 100px;
    text-align: center;
    filter: invert(1);
    font-size: 0;
    border-radius: 50%;
}